*{
	padding: 0;
	margin: 0;
}

:root{
	scroll-behavior: smooth;
	user-select: none
}

.menuloopII{
	position: absolute;
}

#closeMenu{
	position: absolute;
	z-index: 2;
	width: 32px;
	margin-left: 88%;
	margin-top: 1%;
	cursor: pointer;
}

li{
	text-align: center;
	list-style: none;
}

ul{
	font-size: xx-large;
	height: 80px;
	width: 272px;
	margin-top: 10%;
}

#a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	display: inline-block;
	height: 45px;
	width: 273px;
}

#a:hover{
	color: #000;
	background-color: bisque;
}

#menuloop{
	width: 60px;
	position: fixed;
	margin-left: 94%;
	margin-top: 1%;
	cursor: pointer;
}

#menu{
	z-index: 1;
	overflow: hidden;
	height: 100vh;
	width: 20vw;
	background-color: rgba(26, 26, 25, 0.384);
	color: ivory;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

body{
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	font-family: 'Montserrat', sans-serif;
}

header{
	background-image: linear-gradient(to top, #fddb928f 0%, #d1fdff85 100%), url(img/wp23.jpg);
	height: 100vh;
	background-repeat: repeat;
    background-attachment: fixed;
	font-family: 'Montserrat', sans-serif;
	font-size: x-large;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}


h3{
	font-size: small;
}

.parrafos{
	margin-top: 2%;
	margin-left: 7%;
}

 
.box1 > h2{
	font-family: 'Odibee Sans', cursive;
	text-align: center;
	margin-left: 10px;
	margin-top: 15%;
	font-size: xxx-large;
}

.box1 > img{
	float: left;
	width: 226px;
	margin-right: -30%;
}

.box1{
	height: 54vh;
	margin-left: 200px;
	border: 3px;
	border-style: dashed;
	width: 122vh;
	margin-bottom: 2%;
	cursor: pointer;
}


.box1 > p{
	margin-left: 34%;
	margin-right: 170px;
}

.Box1{
	opacity: 0;
	visibility: hidden;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	height: 54%;
	width: 761px;
	position: absolute;
	margin-top: -227px;
	transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

.Box1 > img{
	width: 650px;
    margin-left: 13%;
    height: 338px;
}

.Box1 > p {
	font-size: xxx-large;
	position: absolute;
	z-index: 2;
	margin-top: -28%;
	margin-left: 34%;
}

.Box2 > p {
	font-size: xxx-large;
	position: absolute;
	z-index: 2;
	margin-top: -28%;
	margin-left: 43%;
}


.Box3 > p {
	font-size: xxx-large;
	position: absolute;
	z-index: 2;
	margin-top: -28%;
	margin-left: 43%;
}

.Box4 > p {
	font-size: xxx-large;
	position: absolute;
	z-index: 2;
	margin-top: -28%;
	margin-left: 34%;
}

.Box5 > p {
	font-size: xxx-large;
	position: absolute;
	z-index: 2;
	margin-top: -28%;
	margin-left: 22%;
}

.Box6 > p {
	font-size: xxx-large;
	position: absolute;
	z-index: 2;
	margin-top: -28%;
	margin-left: 34%;
}


.box2 > h2{
	font-family: 'Odibee Sans', cursive;
	text-align: center;
	margin-left: 2%;
	margin-top: 15%;
	font-size: xxx-large;
}

.box2 > img{
	float: left;
	width: 240px;
	margin-right: -30%;
	height: 337px;
}

.box2{
	height: 54vh;
	margin-left: 200px;
	border: 3px;
	border-style: dashed;
	width: 122vh;
	margin-bottom: 2%;
}

.box2 > p{
	margin-left: 52%;
}

.Box2{
	opacity: 0;
	visibility: hidden;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	height: 54%;
	width: 761px;
	position: absolute;
	margin-top: -208px;
	transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

.Box2 > img{
	width: 650px;
    margin-left: 13%;
    height: 338px;
}


.box3 > h2{
	font-family: 'Odibee Sans', cursive;
	text-align: center;
	margin-left: 63%;
	margin-top: 18%;
	font-size: xxx-large;
}

.box3 > img{
	float: left;
	width: 520px;
	margin-right: -30%;
	height: 330px;
}

.box3{
	height: 54vh;
	margin-left: 200px;
	border: 3px;
	border-style: dashed;
	width: 122vh;
	margin-bottom: 2%;
}

.box3 > p{
	margin-left: 70%;
}

.Box3{
	opacity: 0;
	visibility: hidden;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	height: 54%;
	width: 761px;
	position: absolute;
	margin-top: -210px;
	transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

.Box3 > img{
	width: 650px;
    margin-left: 13%;
    height: 338px;
}

.box4 > h2{
	font-family: 'Odibee Sans', cursive;
	text-align: center;
	margin-left: 53%;
	margin-top: 19%;
	font-size: xxx-large;
}

.box4 > img{
	float: left;
	margin-right: -30%;
	height: 337px;
	width: 400px;
}

.box4{
	height: 54vh;
	margin-left: 200px;
	border: 3px;
	border-style: dashed;
	width: 122vh;
	margin-bottom: 2%;
}

.box4 > p{
	margin-left: 70%;
}

.Box4{
	opacity: 0;
	visibility: hidden;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	height: 54%;
	width: 761px;
	position: absolute;
	margin-top: -217px;
	transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

.Box4 > img{
	width: 650px;
    margin-left: 13%;
    height: 338px;
}


.box5 > h2{
	font-family: 'Odibee Sans', cursive;
	text-align: center;
	margin-left: 63%;
	margin-top: 18%;
	font-size: xxx-large;
}

.box5 > img{
	float: left;
	width: 500px;
	height: inherit;
	margin-right: -30%;
}

.box5{
	height: 54vh;
	margin-left: 200px;
	border: 3px;
	border-style: dashed;
	width: 122vh;
	margin-bottom: 2%;
}

.box5 > p{
	margin-left: 70%;
}

.Box5{
	opacity: 0;
	visibility: hidden;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	height: 54%;
	width: 761px;
	position: absolute;
	margin-top: -210px;
	transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

.Box5 > img{
	width: 650px;
    margin-left: 13%;
    height: 338px;
}


.box6 > h2{
	font-family: 'Odibee Sans', cursive;
	text-align: center;
	margin-left: 63%;
	margin-top: 18%;
	font-size: xxx-large;
}

.box6 > img{
	float: left;
	width: 500px;
	height: inherit;
	margin-right: -30%;
}

.box6{
	height: 54vh;
	margin-left: 200px;
	border: 3px;
	border-style: dashed;
	width: 122vh;
	margin-bottom: 2%;
}

.box6 > p{
	margin-left: 70%;
}

.Box6{
	opacity: 0;
	visibility: hidden;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	height: 54%;
	width: 761px;
	position: absolute;
	margin-top: -210px;
	transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

.Box6 > img{
	width: 650px;
    margin-left: 13%;
    height: 338px;
}

.box7 > h2{
	font-family: 'Odibee Sans', cursive;
	text-align: center;
	margin-left: 63%;
	margin-top: 18%;
	font-size: xxx-large;
}

.box7 > img{
	float: left;
	width: 524px;
	margin-right: -30%;
	height: 337px;
}

.box7{
	height: 54vh;
	margin-left: 200px;
	border: 3px;
	border-style: dashed;
	width: 122vh;
	margin-bottom: 2%;
}

.box7 > p{
	margin-left: 70%;
}

.Box7{
	opacity: 0;
	visibility: hidden;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	height: 54%;
	width: 761px;
	position: absolute;
	margin-top: -210px;
	transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

.Box7 > img{
	width: 650px;
    margin-left: 13%;
    height: 338px;
}

.box1:hover{
	background: #f555a5;
}
.box2:hover{
	background: #f5248c;
}
.box3:hover{
	background: #d1036a;
}
.box4:hover{
	background: #0388e0;
}
.box5:hover{
	background: #0160b9;
}
.box6:hover{
	background: #014483;
}
.box7:hover{
	background: #013d79;
}

footer{
	color: lightyellow;
	background-image: url(./img/End.jpg);
	height: 103vh;
	background-repeat: round;
	background-attachment: fixed;
	background-position: bottom;
}

.end{
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.end > h1{
	margin-top: 30px;
}


footer > h1{
	text-align: center;
	margin-top: 5%;
	font-size: xx-large;
}

.redes{
	margin-top: 6%;
	display: flex;
	align-items: center;
	justify-content: center;
}

 h3{
	text-align: center;
	margin-top: 5%;
}

#img1{
	width: 200px;
}

#img2{
	width: 200px;
}

#img3{
	width: 174px;
}

#img4{
	width: 175px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1000px){
	.header, .menuloopII, nav, #closeMenu, #menu, #a,#menuloop, .contenedor, .box1,.box2,.box3,.box4,.box5,.box6,.box7,.Box7::after {width: 100%;}
	body{min-width: 100%;}
	header{height: 50vh;}
	li{margin-left: 37%;}
    #menuloop{margin-left: 92%; width: 64px; z-index: 1;}
    #closeMenu{width: 55px;margin-left: 93%;z-index: 2;}
	.box1{margin-left: -4%;height: 337px;}
	.box2{margin-left: -4%;height: 337px;}
	.box3{margin-left: -4%;height: 337px;}
	.box4{margin-left: -4%;height: 337px;}
	.box5{margin-left: -4%;height: 337px;}
	.box6{margin-left: -4%;height: 337px;}
	.box7{margin-left: -4%;height: 337px;}
	.Box1{height: 336px;margin-top: -249px;width: 910px;}
	.Box1>p{margin-left: 39%;margin-top: -23%;}
	.Box2{height: 337px;margin-top: -228px;width: 910px;}
	.Box2>p{margin-left: 39%;margin-top: -23%;}
	.Box3{height: 337px;margin-top: -237px;width: 910px;}
	.Box3>p{margin-left: 39%;margin-top: -23%;}
	.Box4{height: 336px;margin-top: -246px;width: 910px;}
	.Box4>p{margin-top: -23%;}
	.Box5{height: 337px;margin-top: -237px;width: 910px;}
	.Box5>p{margin-left: 29%;margin-top: -23%;}
	.Box6{height: 337px;margin-top: -237px;width: 910px;}
	.Box6>p{margin-left: 36%;margin-top: -23%;}
	.Box7{height: 337px;margin-top: -237px;width: 910px;}
	.Box7>p{margin-left: 39%;margin-top: -23%;}
	footer{height: 100%;}
	footer>h3{font-size: x-large; margin-top: 2%;}
	.redes{display: grid;}
}




















